/* Left column */
.column-input {
  display: flex;
  width: 30%;
  background-color: rgb(243, 178, 105);
  height: 100%;
  background-image: url(http://127.0.0.1:5500/img/hardwood-floor.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}

.input-text {
  font-size: 40px;
  font-family: Roboto;
  font-weight:bold;
  margin: 0;
  color: white;
  margin-bottom: 10px;
  white-space: nowrap;
}

.dropdown {
  width: 200px;
}
.user-input {
  margin-left: 10px;
  margin-top: 10px;
  width: 50%;
}

/* button */
.calculate-button {
  margin-top: 10px;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.calculate-button:hover,
.calculate-button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.calculate-button:hover {
  transform: translateY(-1px);
}

.calculate-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

