/* Right column */
.column-output {
  display: flex;
  width: 70%;
  background-color: rgb(243, 173, 93);
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(http://127.0.0.1:5500/FrontEndBasketball/img/court-background.jpg); 
  background-repeat: no-repeat;
  background-size: cover;

}
.table-header {
  background-color: white;
}
.table {
  height: 80%;
  width: 80%;
  background-color: rgba(239, 165, 55, 0.932);
  border-radius: 12px;
  border-color: black;
}


